<html>
<head>
{{ define "main" }}

<script>
  // Трек просмотра статьи
  firebase.analytics().logEvent('view_post', {
    post_id: '{{ .File.UniqueID }}',
    title: '{{ .Title }}'
  });

  // Трек прокрутки
  window.addEventListener('scroll', () => {
    const scrolled = Math.floor(
      (window.scrollY / (document.body.scrollHeight - window.innerHeight)) * 100
    );
    analytics.logEvent('scroll_depth', {
      percent: scrolled,
      url: '{{ .Permalink }}'
    });
  });
</script>
{{ end }}
</head>
</html>